{:deps {org.clojure/clojure {:mvn/version "1.11.1"}

        ;; persistance
        com.xtdb/xtdb-core {:mvn/version "1.21.0"}

        ;; data validation
        metosin/malli {:mvn/version "0.8.8"}
        ;; -- malli companion for inlining functions
        org.babashka/sci {:mvn/version "0.3.31"}
        ;; -- malli companion for generation values based on schemas
        com.gfredericks/test.chuck {:mvn/version "0.2.13"}

        ;; kind of IoC container
        integrant/integrant {:mvn/version "0.8.0"}

        ;; utilities
        ;; -- logs without hassle
        spootnik/unilog {:mvn/version "0.7.29"}
        ;; -- filesystem stuff without hassle
        babashka/fs {:mvn/version "0.1.6"}
        ;; -- retry/back-pressure
        diehard/diehard {:mvn/version "0.11.3"}
        ;; -- interceptor executor
        exoscale/interceptor {:mvn/version "0.1.10"}

        ;; todo move that to user config
        ;; run locally :
        ;; (require '[flow-storm.api :as fs-api])
        ;; (fs-api/local-connect)
        ;; documentation: https://jpmonettas.github.io/flow-storm-debugger/user_guide.html
        com.github.jpmonettas/flow-storm-dbg {:mvn/version "RELEASE"}
        com.github.jpmonettas/flow-storm-inst {:mvn/version "RELEASE"}

        }

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {nubank/matcher-combinators {:mvn/version "3.5.0"}}}
           :kaocha {:main-opts ["-m" "kaocha.runner"]
                    :extra-deps {lambdaisland/kaocha {:mvn/version "1.68.1059"}
                                 nubank/matcher-combinators {:mvn/version "3.5.0"}}}}}