{:deps {org.clojure/clojure {:mvn/version "1.11.1"}

        ;; persistance
        com.xtdb/xtdb-core {:mvn/version "1.20.0"}

        ;; data validation
        metosin/malli {:mvn/version "0.8.4"}
        ;; -- malli companion for inlining functions
        org.babashka/sci {:mvn/version "0.3.5"}
        ;; -- malli companion for generation values based on schemas
        com.gfredericks/test.chuck {:mvn/version "0.2.10"}

        ;; kind of IoC container
        integrant/integrant {:mvn/version "0.8.0"}

        ;; utilities
        ;; -- logs without hassle
        spootnik/unilog {:mvn/version "0.7.29"}
        ;; -- filesystem stuff without hassle
        babashka/fs {:mvn/version "0.1.6"}}}